body {
    background-color: #ae6f3b;
    font-family: 'Georgia', serif;
    margin: 10px;
}

.parchment_container {
    display: grid;
    background-color: #FCF5E5;
    grid-template-areas: 
    "nav_bar nav_bar"
    "pfp_container char_info_container"
    "char_stats char_bio"
    "char_stats char_skills"
    "char_stats char_equipment"
    "char_explog char_explog";
    gap: 20px;
    padding: 10px;
    min-height: 100vh;
}

.nav_bar {
    grid-area: nav_bar;
    position: relative;
    text-align: center;
}

.nav_bar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    width: 80%;
    gap: 5px;
}

.nav_bar ul button {
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: #e7dbc2;
}

#nav_links {
    display: none;
    flex-direction: column;
}

#nav_links.show {
    display: flex;
}

hr {
    width: 90%;
    height: 1px;
    background-color: black;
}

.hamburger {
    display: black;
    background: none; 
    font-size: 28px;
    border: none;
    cursor: pointer;
    margin: 1rem auto;
    padding-left: 150px;
    padding-right: 150px;
}

.pfp_container {
    grid-area: pfp_container;
    display: flex;
    justify-content: center;
    align-items: center;
}

.char_pfp {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.char_info_container {
    grid-area: char_info_container;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.char_info {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.char_level {
    margin-top: 5px;
    aspect-ratio: 1/1;
    background-color: #e7dbc2;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 10px;
    text-align: center;
}

.char_level p {
    font-size: 15px;
}

.char_stats {
    grid-area: char_stats;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.stat_box {
    border: 3px solid black;
    border-radius: 8px;
    background-color: #e7dbc2;
    height: auto;
    width: 80%;
    aspect-ratio: 1/1;
    text-align: center;
}

.stat_label {
    font-size: 20px;
}

.stat_level {
    margin-top: 10px;
    font-size: 40px;
}

.stat_description {
    margin-top: 20px;
}

.char_bio {
    grid-area: char_bio;
    background-color: #e7dbc2;
    border: 3px solid black;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 5px;
}

.char_skills {
    grid-area: char_skills;
    display: flex;
    flex-direction: column;
    background-color: #e7dbc2;
    border: 3px solid black;
    border-radius: 8px;
}

.char_equipment {
    grid-area: char_equipment;
    display: flex;
    flex-direction: column;
    background-color: #e7dbc2;
    border: 3px solid black;
    border-radius: 8px;
}

.char_explog {
    grid-area: char_explog;
    display: flex;
    flex-direction: column;
    background-color: #e7dbc2;
    border: 3px solid black;
    border-radius: 8px;
}

.char_skills, .char_equipment {
    padding-right: 5px;
}

.char_skills ul, .char_equipment ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_box_label {
    text-align: center;
    font-size: 30px;
    margin-top: 10px
}