body {
    background-color: #5c3a1e;
    margin: 0;
    padding: 0;
    font-family: 'Mythshire', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.parchment {
    background-color: #FCF5E5;
    width: 80%;
    padding: 40px;
    border: 2px solid #d4c2a2;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: none;
    margin: none;
    gap: 20px;
    justify-content: center;
}

nav ul a {
    color: black;
    text-decoration: none;
}

nav ul a:hover {
    background-color: brown; /*change color when a tab is selected or not*/
}

.char_info_section ul {
    list-style: none;
    padding: none;
    margin: none;
}